<?xml version="1.0"?>
<config>
	<modules>
		<Dhl_Postpay>
			<version>1.2.0</version>
		</Dhl_Postpay>
	</modules>
	<admin>
		<routers>
			<postpay>
				<use>admin</use>
				<args>
					<module>Dhl_Postpay</module>
					<frontName>postpay</frontName>
				</args>
			</postpay>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<postpay>
					<files>
						<default>Dhl_Postpay.csv</default>
					</files>
				</postpay>
			</modules>
		</translate>
		<layout>
			<updates>
				<postpay>
					<file>postpay.xml</file>
				</postpay>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<payment>
			<postpay_standard>
				<active>0</active>
				<model>postpay/payment_method_standard</model>
				<order_status>pending</order_status>
				<title>Postpay Standard</title>
				<allowspecific>0</allowspecific>
				<payment_action>authorize</payment_action>
				<!-- <group>offline</group> -->
			</postpay_standard>
			<postpay_express>
				<active>0</active>
				<model>postpay/payment_method_express</model>
				<order_status>pending</order_status>
				<title>Postpay Express</title>
				<allowspecific>0</allowspecific>
				<payment_action>authorize</payment_action>
				<!-- <group>offline</group> -->
			</postpay_express>
		</payment>
	</default>
	<frontend>
		<translate>
			<modules>
				<postpay>
					<files>
						<default>Dhl_Postpay.csv</default>
					</files>
				</postpay>
			</modules>
		</translate>
		<routers>
			<postpay>
				<use>standard</use>
				<args>
					<module>Dhl_Postpay</module>
					<frontName>postpay</frontName>
				</args>
			</postpay>
		</routers>
		<layout>
			<updates>
				<postpay>
					<file>postpay.xml</file>
				</postpay>
			</updates>
		</layout>
	</frontend>
	<global>
		<resources>
			<postpay_setup>
				<setup>
					<module>Dhl_Postpay</module>
					<class>Dhl_Postpay_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</postpay_setup>
		</resources>
		<models>
			<postpay>
				<class>Dhl_Postpay_Model</class>
				<resourceModel>postpay_mysql4</resourceModel>
			</postpay>
			<postpay_mysql4>
				<class>Dhl_Postpay_Model_Mysql4</class>
				<entities>
					<cart>
						<table>postpay_cart</table>
					</cart>
				</entities>
			</postpay_mysql4>
			<meinpaketcommon>
				<rewrite>
					<service_order_importService>Dhl_Postpay_Model_Service_Order_ImportService</service_order_importService>
				</rewrite>
			</meinpaketcommon>
		</models>
		<blocks>
			<postpay>
				<class>Dhl_Postpay_Block</class>
			</postpay>
		</blocks>
		<helpers>
			<postpay>
				<class>Dhl_Postpay_Helper</class>
			</postpay>
		</helpers>
	</global>
</config>