<?xml version="1.0"?>
<config>
	<modules>
		<Dhl_MeinPaket>
			<version>2.0.8</version>
		</Dhl_MeinPaket>
	</modules>
	<admin>
		<routers>
			<meinpaket>
				<use>admin</use>
				<args>
					<module>Dhl_MeinPaket</module>
					<frontName>meinpaket</frontName>
				</args>
			</meinpaket>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<meinpaket>
					<files>
						<default>Dhl_MeinPaket.csv</default>
					</files>
				</meinpaket>
			</modules>
		</translate>
		<layout>
			<updates>
				<meinpaket>
					<file>meinpaket.xml</file>
				</meinpaket>
			</updates>
		</layout>
	</adminhtml>
	<crontab>
		<jobs>
			<meinpaket_processAsyncTasks>
				<schedule>
					<config_path>meinpaket/cron/async</config_path>
				</schedule>
				<run>
					<model>meinpaket/cron::processAsyncTasks</model>
				</run>
			</meinpaket_processAsyncTasks>
			<meinpaket_importOrders>
				<schedule>
					<config_path>meinpaket/cron/order</config_path>
				</schedule>
				<run>
					<model>meinpaket/cron::importOrders</model>
				</run>
			</meinpaket_importOrders>
			<meinpaket_exportProducts>
				<schedule>
					<config_path>meinpaket/cron/product</config_path>
				</schedule>
				<run>
					<model>meinpaket/cron::exportProducts</model>
				</run>
			</meinpaket_exportProducts>
			<meinpaket_getBestPrice>
				<schedule>
					<config_path>meinpaket/cron/bestprice</config_path>
				</schedule>
				<run>
					<model>meinpaket/cron::getBestPrice</model>
				</run>
			</meinpaket_getBestPrice>
			<meinpaket_cleanup>
				<schedule>
					<config_path>meinpaket/cron/cleanup</config_path>
				</schedule>
				<run>
					<model>meinpaket/cron::cleanup</model>
				</run>
			</meinpaket_cleanup>
		</jobs>
	</crontab>
	<default>
		<payment>
			<meinpaket>
				<active>1</active>
				<model>meinpaket/payment_method_meinpaket</model>
				<order_status>pending</order_status>
				<title>MeinPaket</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</meinpaket>
		</payment>
		<carriers>
			<meinpaket>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<allowed_methods>method1</allowed_methods>
				<title>MeinPaket.de</title>
				<name>MeinPaket</name>
				<handling_fee>1.00</handling_fee>
				<handling_type>F</handling_type>
				<handling_action>P</handling_action>
				<model>meinpaket/carrier_meinpaket</model>
			</meinpaket>
		</carriers>
		<meinpaket>
			<endpoint>
				<sandbox>0</sandbox>
				<https>1</https>
				<proxy></proxy>
				<proxy_host></proxy_host>
				<proxy_port></proxy_port>
			</endpoint>
			<shipment>
				<default_shipment_method>flatrate_flatrate</default_shipment_method>
			</shipment>
			<checkout>
				<available>0</available>
				<submit_shipping_costs>0</submit_shipping_costs>
			</checkout>
			<product_attributes>
				<default_delivery_time>5</default_delivery_time>
			</product_attributes>
			<cron>
				<async>*/10 * * * *</async>
				<product>0 * * * *</product>
				<order>*/15 * * * *</order>
				<bestprice>15 3 * * *</bestprice>
				<cleanup>0 6 * * *</cleanup>
			</cron>
		</meinpaket>
	</default>
	<frontend>
		<translate>
			<modules>
				<meinpaket>
					<files>
						<default>Dhl_MeinPaket.csv</default>
					</files>
				</meinpaket>
			</modules>
		</translate>
		<routers>
			<meinpaket>
				<use>standard</use>
				<args>
					<module>Dhl_MeinPaket</module>
					<frontName>meinpaket</frontName>
				</args>
			</meinpaket>
		</routers>
		<layout>
			<updates>
				<meinpaket>
					<file>meinpaket.xml</file>
				</meinpaket>
			</updates>
		</layout>
	</frontend>
	<global>
		<resources>
			<meinpaket_setup>
				<setup>
					<module>Dhl_MeinPaket</module>
					<class>Dhl_MeinPaket_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
			</meinpaket_setup>
		</resources>
		<models>
			<meinpaket>
				<class>Dhl_MeinPaket_Model</class>
				<resourceModel>meinpaket_mysql4</resourceModel>
			</meinpaket>
			<meinpaket_mysql4>
				<class>Dhl_MeinPaket_Model_Mysql4</class>
				<entities>
					<category>
						<table>meinpaket_category</table>
					</category>
					<backlog_product>
						<table>meinpaket_backlog_product</table>
					</backlog_product>
					<bestprice>
						<table>meinpaket_bestprice</table>
					</bestprice>
					<log>
						<table>meinpaket_log</table>
					</log>
					<async>
						<table>meinpaket_async</table>
					</async>
				</entities>
			</meinpaket_mysql4>
		</models>
		<blocks>
			<meinpaket>
				<class>Dhl_MeinPaket_Block</class>
			</meinpaket>
		</blocks>
		<helpers>
			<!-- WTF? -->
			<Dhl_MeinPaket>
				<class>Dhl_MeinPaket_Helper</class>
			</Dhl_MeinPaket>
			<meinpaket>
				<class>Dhl_MeinPaket_Helper</class>
			</meinpaket>
		</helpers>
		<events>
			<catalog_product_save_before>
				<observers>
					<meinpaket_product_save_before>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogProductSaveBefore</method>
					</meinpaket_product_save_before>
				</observers>
			</catalog_product_save_before>
			<catalog_product_save_after>
				<observers>
					<meinpaket_product_save_after>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogProductSaveAfter</method>
					</meinpaket_product_save_after>
				</observers>
			</catalog_product_save_after>
			<catalog_product_attribute_update_before>
				<observers>
					<meinpaket_product_attribute_update_before>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogProductAttributeUpdateBefore</method>
					</meinpaket_product_attribute_update_before>
				</observers>
			</catalog_product_attribute_update_before>
			<catalog_product_delete_before>
				<observers>
					<meinpaket_delete_product>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogProductDeleteBefore</method>
					</meinpaket_delete_product>
				</observers>
			</catalog_product_delete_before>
			<cataloginventory_stock_item_save_after>
				<observers>
					<meinpaket_stock_item_save_after>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogInventoryStockItemSaveAfter</method>
					</meinpaket_stock_item_save_after>
				</observers>
			</cataloginventory_stock_item_save_after>
			<sales_order_save_after>
				<observers>
					<meinpaket_cancel_order>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>salesOrderSaveAfter</method>
					</meinpaket_cancel_order>
				</observers>
			</sales_order_save_after>
			<sales_order_shipment_save_after>
				<observers>
					<meinpaket_save_sales_order_shipment>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>salesOrderShipmentSaveAfter</method>
					</meinpaket_save_sales_order_shipment>
				</observers>
			</sales_order_shipment_save_after>
			<sales_order_shipment_save_commit_after>
				<observers>
					<meinpaket_commit_sales_order_shipment>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>salesOrderShipmentSaveCommitAfter</method>
					</meinpaket_commit_sales_order_shipment>
				</observers>
			</sales_order_shipment_save_commit_after>
			<sales_order_shipment_track_save_after>
				<observers>
					<meinpaket_save_sales_order_shipment_track>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>salesOrderShipmentTrackSaveAfter</method>
					</meinpaket_save_sales_order_shipment_track>
				</observers>
			</sales_order_shipment_track_save_after>
			<sales_order_creditmemo_save_after>
				<observers>
					<meinpaket_save_creditmemo>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>salesOrderCreditmemoSaveAfter</method>
					</meinpaket_save_creditmemo>
				</observers>
			</sales_order_creditmemo_save_after>
			<adminhtml_catalog_product_attribute_edit_prepare_form>
				<observers>
					<add_meinpaket_to_attribute_editor>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>addMeinPaketAttributes</method>
					</add_meinpaket_to_attribute_editor>
				</observers>
			</adminhtml_catalog_product_attribute_edit_prepare_form>
			<catalog_model_product_duplicate>
				<observers>
					<meinpaket_product_duplicate>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>productDuplicate</method>
					</meinpaket_product_duplicate>
				</observers>
			</catalog_model_product_duplicate>
			<sales_order_grid_collection_load_before>
				<observers>
					<meinpaket_sales_order_grid_collection_add_attribute>
						<type>singleton</type>
						<model>meinpaket/observer</model>
						<method>salesOrderGridCollectionLoadBefore</method>
					</meinpaket_sales_order_grid_collection_add_attribute>
				</observers>
			</sales_order_grid_collection_load_before>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<meinpaket_grid_column_append>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>gridAddAttributes</method>
					</meinpaket_grid_column_append>
				</observers>
			</core_block_abstract_prepare_layout_before>
		</events>
	</global>
</config>