<?xml version="1.0"?>
<config>
	<modules>
		<Dhl_MeinPaket>
			<version>2.4.0</version>
		</Dhl_MeinPaket>
	</modules>
	<admin>
		<routers>
			<meinpaket>
				<use>admin</use>
				<args>
					<module>Dhl_MeinPaket</module>
					<frontName>meinpaket</frontName>
				</args>
			</meinpaket>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<meinpaket>
					<files>
						<default>Dhl_MeinPaket.csv</default>
					</files>
				</meinpaket>
			</modules>
		</translate>
		<layout>
			<updates>
				<meinpaket>
					<file>meinpaket.xml</file>
				</meinpaket>
			</updates>
		</layout>
	</adminhtml>
	<crontab>
		<jobs>
			<meinpaket_exportProducts>
				<schedule>
					<config_path>meinpaket/cron/product</config_path>
				</schedule>
				<run>
					<model>meinpaket/cron::exportProducts</model>
				</run>
			</meinpaket_exportProducts>
			<meinpaket_getBestPrice>
				<schedule>
					<config_path>meinpaket/cron/bestprice</config_path>
				</schedule>
				<run>
					<model>meinpaket/cron::getBestPrice</model>
				</run>
			</meinpaket_getBestPrice>
		</jobs>
	</crontab>
	<default>
		<meinpaket>
			<checkout>
				<available>0</available>
			</checkout>
			<product_attributes>
				<default_delivery_time>5</default_delivery_time>
			</product_attributes>
			<cron>
				<product>0 * * * *</product>
				<order>*/15 * * * *</order>
				<bestprice>15 3 * * *</bestprice>
			</cron>
			<advanced>
				<cycle_product_count>100</cycle_product_count>
			</advanced>
		</meinpaket>
	</default>
	<frontend>
		<translate>
			<modules>
				<meinpaket>
					<files>
						<default>Dhl_MeinPaket.csv</default>
					</files>
				</meinpaket>
			</modules>
		</translate>
		<routers>
			<meinpaket>
				<use>standard</use>
				<args>
					<module>Dhl_MeinPaket</module>
					<frontName>meinpaket</frontName>
				</args>
			</meinpaket>
		</routers>
		<layout>
			<updates>
				<meinpaket>
					<file>meinpaket.xml</file>
				</meinpaket>
			</updates>
		</layout>
	</frontend>
	<global>
		<resources>
			<meinpaket_setup>
				<setup>
					<module>Dhl_MeinPaket</module>
					<class>Dhl_MeinPaket_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</meinpaket_setup>
		</resources>
		<models>
			<meinpaket>
				<class>Dhl_MeinPaket_Model</class>
				<resourceModel>meinpaket_mysql4</resourceModel>
			</meinpaket>
			<meinpaket_mysql4>
				<class>Dhl_MeinPaket_Model_Mysql4</class>
				<entities>
					<category>
						<table>meinpaket_category</table>
					</category>
					<backlog_product>
						<table>meinpaket_backlog_product</table>
					</backlog_product>
					<bestprice>
						<table>meinpaket_bestprice</table>
					</bestprice>
					<async>
						<table>meinpaket_async</table>
					</async>
				</entities>
			</meinpaket_mysql4>
		</models>
		<blocks>
			<meinpaket>
				<class>Dhl_MeinPaket_Block</class>
			</meinpaket>
		</blocks>
		<helpers>
			<!-- WTF? -->
			<Dhl_MeinPaket>
				<class>Dhl_MeinPaket_Helper</class>
			</Dhl_MeinPaket>
			<meinpaket>
				<class>Dhl_MeinPaket_Helper</class>
			</meinpaket>
		</helpers>
		<events>
			<catalog_model_product_duplicate>
				<observers>
					<meinpaket_product_duplicate>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>productDuplicate</method>
					</meinpaket_product_duplicate>
				</observers>
			</catalog_model_product_duplicate>
			<catalog_product_delete_before>
				<observers>
					<meinpaket_delete_product>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogProductDeleteBefore</method>
					</meinpaket_delete_product>
				</observers>
			</catalog_product_delete_before>
			<catalog_product_save_before>
				<observers>
					<meinpaket_product_save_before>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogProductSaveBefore</method>
					</meinpaket_product_save_before>
				</observers>
			</catalog_product_save_before>
			<catalog_product_save_after>
				<observers>
					<meinpaket_product_save_after>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogProductSaveAfter</method>
					</meinpaket_product_save_after>
				</observers>
			</catalog_product_save_after>
			<catalog_product_attribute_update_before>
				<observers>
					<meinpaket_product_attribute_update_before>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogProductAttributeUpdateBefore</method>
					</meinpaket_product_attribute_update_before>
				</observers>
			</catalog_product_attribute_update_before>
			<cataloginventory_stock_item_save_after>
				<observers>
					<meinpaket_stock_item_save_after>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>catalogInventoryStockItemSaveAfter</method>
					</meinpaket_stock_item_save_after>
				</observers>
			</cataloginventory_stock_item_save_after>
			<adminhtml_catalog_product_attribute_edit_prepare_form>
				<observers>
					<add_meinpaket_to_attribute_editor>
						<type>singleton</type>
						<class>meinpaket/observer</class>
						<method>addMeinPaketAttributes</method>
					</add_meinpaket_to_attribute_editor>
				</observers>
			</adminhtml_catalog_product_attribute_edit_prepare_form>
		</events>
	</global>
</config>