<?xml version="1.0"?>
<config>
	<sections>
		<meinpaket module="core" translate="label">
			<comment>Test</comment>
			<label>DHL MeinPaket.de</label>
			<tab>general</tab>
			<frontend_type>text</frontend_type>
			<sort_order>1000</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<class>meinpaket</class>
			<groups>
				<store>
					<label>Store</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<frontend_class>meinpaket</frontend_class>
					<fields translate="label">
						<view translate="label">
							<label>Store View</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_store</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</view>
					</fields>
				</store>
				<credentials translate="label">
					<label>Credentials</label>
					<frontend_type>text</frontend_type>
					<sort_order>3</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<frontend_class>meinpaket</frontend_class>
					<fields>
						<username translate="label comment">
							<label>DHL Username</label>
							<comment><![CDATA[This is the username that was given to you by DHL, mostly your email address.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</username>
						<password translate="label comment">
							<label>DHL Password</label>
							<comment><![CDATA[This is the password that was given to you by DHL.]]></comment>
							<frontend_type>password</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</password>
					</fields>
				</credentials>
				<endpoint translate="label">
					<label>Remote system</label>
					<frontend_type>text</frontend_type>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<frontend_class>meinpaket</frontend_class>
					<fields>
						<https translate="label comment">
							<label>Use HTTPs</label>
							<comment><![CDATA[Use https:// to connect to DHL MeinPaket]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</https>
						<sandbox translate="label comment">
							<label>Use Sandbox</label>
							<comment><![CDATA[Use DHL MeinPaket sandbox]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</sandbox>
						<proxy translate="label comment">
							<label>Use Proxy</label>
							<comment><![CDATA[Use proxy to connect to DHL MeinPaket]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</proxy>
						<proxy_host translate="label comment">
							<label>Proxy Host</label>
							<comment><![CDATA[Used proxy host to connect to DHL MeinPaket. Disabled when empty]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<depends>
								<proxy>1</proxy>
							</depends>
						</proxy_host>
						<proxy_port translate="label comment">
							<label>Proxy Port</label>
							<comment><![CDATA[Use proxy port to connect to DHL MeinPaket. Disabled when empty]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
							<depends>
								<proxy>1</proxy>
							</depends>
						</proxy_port>
					</fields>
				</endpoint>
				<shipment translate="label">
					<label>Shipment</label>
					<frontend_type>text</frontend_type>
					<sort_order>15</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<frontend_class>meinpaket</frontend_class>
					<fields>
						<default_shipment_method translate="label comment">
							<label>Default Shipment Method</label>
							<comment><![CDATA[Shipment method which is used for order import and POSTPAY.]]></comment>
							<frontend_type>select</frontend_type>
							<type>text</type>
							<source_model>meinpaket/entity_attribute_source_carrier
							</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</default_shipment_method>
					</fields>
				</shipment>
				<checkout translate="label">
					<label>POSTPAY</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<frontend_class>meinpaket</frontend_class>
					<fields>
						<available translate="label comment">
							<label>POSTPAY available</label>
							<comment><![CDATA[This defines wether the external Checkout with DHL is available for customers.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</available>
						<submit_shipping_costs translate="label comment">
							<label>Submit shipping costs for POSTPAY</label>
							<comment><![CDATA[If set to yes, the shippingscosts for the POSTPAY will be calculated based on the default shipment method.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</submit_shipping_costs>
					</fields>
				</checkout>
				<taxrates translate="label">
					<label>Tax rates</label>
					<frontend_type>text</frontend_type>
					<sort_order>30</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<frontend_class>meinpaket</frontend_class>
					<fields>
						<default_tax_rate translate="label comment">
							<label>Default tax rate</label>
							<comment><![CDATA[The default tax rate applies to most products]]></comment>
							<frontend_type>select</frontend_type>
							<type>text</type>
							<source_model>meinpaket/entity_attribute_source_taxclass</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</default_tax_rate>
						<reduced_tax_rate translate="label comment">
							<label>Reduced tax rate</label>
							<comment><![CDATA[The reduced tax rate applies to special products, such as aliments]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>meinpaket/entity_attribute_source_taxclass</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</reduced_tax_rate>
					</fields>
				</taxrates>
				<product_attributes translate="label">
					<label>Product attributes</label>
					<frontend_type>text</frontend_type>
					<sort_order>40</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<frontend_class>meinpaket</frontend_class>
					<fields>
						<ean_attribute translate="label comment">
							<label>EAN</label>
							<comment><![CDATA[Attribute containing EAN]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>meinpaket/entity_attribute_source_productAttribute
							</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</ean_attribute>
						<delivery_time translate="label comment">
							<label>Delivery time</label>
							<comment><![CDATA[Please select the product attribute which represents the approx. delivery time]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>meinpaket/entity_attribute_source_productAttribute
							</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</delivery_time>
						<default_delivery_time translate="label comment">
							<label>Default delivery time</label>
							<comment><![CDATA[Delivery time in days if no other delivery time applies]]></comment>
							<frontend_type>text</frontend_type>
							<validate>validate-digits</validate>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</default_delivery_time>
					</fields>
				</product_attributes>
				<customer translate="label">
					<label>Customer</label>
					<frontend_type>text</frontend_type>
					<sort_order>50</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<frontend_class>meinpaket</frontend_class>
					<fields>
						<default_email translate="label comment">
							<label>Default customer email</label>
							<comment><![CDATA[This eMail address is used as the default one for orders that do not include one.]]></comment>
							<frontend_type>text</frontend_type>
							<validate>validate-email</validate>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</default_email>
					</fields>
				</customer>
				<cron translate="label">
					<label>Cron</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<frontend_class>meinpaket</frontend_class>
					<fields>
						<async translate="label comment">
							<label>Async Request</label>
							<comment><![CDATA[Async request check interval]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</async>
						<product translate="label comment">
							<label>Product Export</label>
							<comment><![CDATA[Product export interval]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</product>
						<order translate="label comment">
							<label>Order Import</label>
							<comment><![CDATA[Order import interval.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order>
						<bestprice translate="label comment">
							<label>BestPrice Interval</label>
							<comment><![CDATA[BestPrice refresh interval.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</bestprice>
						<cleanup translate="label comment">
							<label>Cleanup Interval</label>
							<comment><![CDATA[Interval to run cleanups.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</cleanup>
					</fields>
				</cron>
			</groups>
		</meinpaket>
		<carriers>
			<groups>
				<meinpaket translate="label" module="meinpaket">
					<label>MeinPaket Versand Modul</label>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
					</fields>
				</meinpaket>
			</groups>
		</carriers>
		<payment>
			<groups>
				<meinpaket translate="label comment" module="meinpaket">
					<label>MeinPaket</label>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
					</fields>
				</meinpaket>
			</groups>
		</payment>
	</sections>
</config>

