<?xml version="1.0"?>
<config>
	<modules>
		<Dhl_MeinPaketCommon>
			<version>1.3.0</version>
		</Dhl_MeinPaketCommon>
	</modules>
	<admin>
		<routers>
			<meinpaketcommon>
				<use>admin</use>
				<args>
					<module>Dhl_MeinPaketCommon</module>
					<frontName>meinpaketcommon</frontName>
				</args>
			</meinpaketcommon>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<meinpaketcommon>
					<files>
						<default>Dhl_MeinPaketCommon.csv</default>
					</files>
				</meinpaketcommon>
			</modules>
		</translate>
		<layout>
			<updates>
				<meinpaketcommon>
					<file>meinpaketcommon.xml</file>
				</meinpaketcommon>
			</updates>
		</layout>
	</adminhtml>
	<crontab>
		<jobs>
			<meinpaket_processAsyncTasks>
				<schedule>
					<config_path>meinpaket/cron/async</config_path>
				</schedule>
				<run>
					<model>meinpaketcommon/cron::processAsyncTasks</model>
				</run>
			</meinpaket_processAsyncTasks>
			<meinpaket_importOrders>
				<schedule>
					<config_path>meinpaket/cron/order</config_path>
				</schedule>
				<run>
					<model>meinpaketcommon/cron::importOrders</model>
				</run>
			</meinpaket_importOrders>
			<meinpaketcommon_cleanup>
				<schedule>
					<config_path>meinpaketcommon/cron/cleanup</config_path>
				</schedule>
				<run>
					<model>meinpaketcommon/cron::cleanup</model>
				</run>
			</meinpaketcommon_cleanup>
		</jobs>
	</crontab>
	<default>
		<payment>
			<meinpaket>
				<active>1</active>
				<model>meinpaketcommon/payment_method_meinpaket</model>
				<order_status>pending</order_status>
				<title>MeinPaket</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</meinpaket>
			<allyouneed>
				<active>1</active>
				<model>meinpaketcommon/payment_method_allyouneed</model>
				<order_status>pending</order_status>
				<title>MeinPaket</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</allyouneed>
		</payment>
		<carriers>
			<meinpaket>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<title>Allyouneed</title>
				<name>MeinPaket</name>
				<model>meinpaketcommon/carrier_meinpaket</model>
			</meinpaket>
			<allyouneed>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<title>Allyouneed</title>
				<name>Allyouneed</name>
				<model>meinpaketcommon/carrier_allyouneed</model>
			</allyouneed>
		</carriers>
		<meinpaket>
			<endpoint>
				<sandbox>0</sandbox>
				<https>1</https>
				<proxy></proxy>
				<proxy_host></proxy_host>
				<proxy_port></proxy_port>
			</endpoint>
			<shipment>
				<default_shipment_method>allyouneed_standard</default_shipment_method>
			</shipment>
			<customer>
				<default_group>1</default_group>
			</customer>
			<cron>
				<async>*/10 * * * *</async>
				<cleanup>0 6 * * *</cleanup>
			</cron>
		</meinpaket>
	</default>
	<frontend>
		<translate>
			<modules>
				<meinpaketcommon>
					<files>
						<default>Dhl_MeinPaket.csv</default>
					</files>
				</meinpaketcommon>
			</modules>
		</translate>
		<routers>
			<meinpaketcommon>
				<use>standard</use>
				<args>
					<module>Dhl_MeinPaketCommon</module>
					<frontName>meinpaketcommon</frontName>
				</args>
			</meinpaketcommon>
		</routers>
		<layout>
			<updates>
				<meinpaketcommon>
					<file>meinpaketcommon.xml</file>
				</meinpaketcommon>
			</updates>
		</layout>
	</frontend>
	<global>
		<resources>
			<meinpaketcommon_setup>
				<setup>
					<module>Dhl_MeinPaketCommon</module>
					<class>Dhl_MeinPaketCommon_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</meinpaketcommon_setup>
		</resources>
		<models>
			<meinpaketcommon>
				<class>Dhl_MeinPaketCommon_Model</class>
				<resourceModel>meinpaketcommon_mysql4</resourceModel>
			</meinpaketcommon>
			<meinpaketcommon_mysql4>
				<class>Dhl_MeinPaketCommon_Model_Mysql4</class>
				<entities>
					<async>
						<table>meinpaket_async</table>
					</async>
					<log>
						<table>meinpaket_log</table>
					</log>
				</entities>
			</meinpaketcommon_mysql4>
		</models>
		<blocks>
			<meinpaketcommon>
				<class>Dhl_MeinPaketCommon_Block</class>
			</meinpaketcommon>
		</blocks>
		<helpers>
			<meinpaketcommon>
				<class>Dhl_MeinPaketCommon_Helper</class>
			</meinpaketcommon>
		</helpers>
		<events>
			<sales_order_save_after>
				<observers>
					<meinpaket_cancel_order>
						<type>singleton</type>
						<class>meinpaketcommon/observer</class>
						<method>salesOrderSaveAfter</method>
					</meinpaket_cancel_order>
				</observers>
			</sales_order_save_after>
			<sales_order_shipment_save_after>
				<observers>
					<meinpaket_save_sales_order_shipment>
						<type>singleton</type>
						<class>meinpaketcommon/observer</class>
						<method>salesOrderShipmentSaveAfter</method>
					</meinpaket_save_sales_order_shipment>
				</observers>
			</sales_order_shipment_save_after>
			<sales_order_shipment_save_commit_after>
				<observers>
					<meinpaket_commit_sales_order_shipment>
						<type>singleton</type>
						<class>meinpaketcommon/observer</class>
						<method>salesOrderShipmentSaveCommitAfter</method>
					</meinpaket_commit_sales_order_shipment>
				</observers>
			</sales_order_shipment_save_commit_after>
			<sales_order_shipment_track_save_after>
				<observers>
					<meinpaket_save_sales_order_shipment_track>
						<type>singleton</type>
						<class>meinpaketcommon/observer</class>
						<method>salesOrderShipmentTrackSaveAfter</method>
					</meinpaket_save_sales_order_shipment_track>
				</observers>
			</sales_order_shipment_track_save_after>
			<sales_order_creditmemo_save_after>
				<observers>
					<meinpaket_save_creditmemo>
						<type>singleton</type>
						<class>meinpaketcommon/observer</class>
						<method>salesOrderCreditmemoSaveAfter</method>
					</meinpaket_save_creditmemo>
				</observers>
			</sales_order_creditmemo_save_after>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<meinpaket_grid_column_append>
						<type>singleton</type>
						<class>meinpaketcommon/observer</class>
						<method>gridAddAttributes</method>
					</meinpaket_grid_column_append>
				</observers>
			</core_block_abstract_prepare_layout_before>
		</events>
	</global>
</config>